<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Início</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet"
		  th:href="@{css/bootstrap.css}"/>
	<link href="../static/css/geral.css" rel="stylesheet" media="all"
		  th:href="@{css/geral.css}"/>

	<script type="text/javascript" src="js/inicio.js"></script>

</head>

<body>
<div th:replace="fragments/header :: header">
	<p>header</p>
</div>

<section>
	<div class="container-fluid">
		<div>
			<h1>Esqueci Minha Senha</h1>
		</div>
		<form method="post" onsubmit="" name="formLogin" action="inicio.html">
			<div class="container">
				<label><b>E-mail</b></label><br /> <input type="text"
														  placeholder="E-mail" name="email"
														  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
														  onblur="validaEmail();" th:required="required"/>
				<button type="submit">Enviar</button>
				<br />
			</div>
		</form>
	</div>
</section>

<div th:replace="fragments/footer :: footer">
	<p>footer</p>
</div>
</body>

</html>