<!DOCTYPE html>
<html>

<head>
<title>Login</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="css/geral.css" rel="stylesheet" media="all" />
<link href="css/bootstrap.css" rel="stylesheet">
<script type="text/javascript" src="js/login.js"></script>
<link rel="icon" type="image/png" href="img/Mt-cookbook.png" />
</head>

<body>
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a href="inicio-user.html"> <img class="logo" src="img/Mt-cookbook.png"
						alt="Receitas para Solteiros">
					</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li><a href="inicio.html">Receitas para Solteiros</a></li>
						<li><a href="cadastro.html">Cadastro</a></li>
						<li><a href="minhas-receitas.html">Minhas Receitas</a></li>
						<li><a href="fale-conosco.html">Fale Conosco</a></li>
						<li><a href="sobre-nos.html">Sobre nós</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a id="user"> <span class="glyphicon glyphicon-user"></span>
								Usuário
						</a></li>
						<li class="active"><a href="login.html"><span
								class="glyphicon glyphicon-log-in"></span> Login</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section>
		<div class="container-fluid">
			<div>
				<h1>Entrar</h1>
			</div>
			<form method="post" onsubmit="" name="formLogin"
				action="inicio-user.html">
				<div class="text-left">
					<div class="container">
						<label><b>E-mail</b></label><br /> <input type="text"
							placeholder="E-mail" name="email"
							pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
							onblur="validaEmail();" required>
					</div>

					<div class="container">
						<label><b>Password</b></label><br /> <input type="password"
							placeholder="Password" name="psw" required>
					</div>

					<div class="container">
						<button type="submit" onclick="dataSave();">Login</button>
					</div>

					<div class="container">
						<a href='esqueci-senha.html'>Esqueci a Senha</a>
					</div>
				</div>
			</form>
		</div>
	</section>
	
	<footer>
		<div>
			<h3>Conecte-se conosco</h3>
		</div>
		<div>
			<nav>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">Linkedin</a></li>
				</ul>
			</nav>
		</div>
		<div class="footer-copyright">
			<small> Direitos Reservados 2016 </small>
		</div>
	</footer>
</body>

</html>
