<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Login</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet"
		  th:href="@{css/bootstrap.css}"/>
	<link href="../static/css/geral.css" rel="stylesheet" media="all"
		  th:href="@{css/geral.css}"/>

	<script type="text/javascript" src="js/inicio.js"></script>

</head>

<body>
<header>
	<div th:replace="fragments/header :: header">
		<p>header</p>
	</div>
</header>

<section>
	<div class="container-fluid">
		<div>
			<h1>Entrar</h1>
		</div>
		<div th:if="${param.error}">
			Invalid username and password.
		</div>
		<div th:if="${param.logout}">
			You have been logged out.
		</div>
		<form method="post"  name="formLogin"
			  th:action="@{/login}">
			<div class="text-left">
				<div class="container">
					<label><b>E-mail</b></label><br /> <input type="text"
															  placeholder="E-mail" name="email"
															  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
															  onblur="validaEmail();" th:required="required"/>
				</div>

				<div class="container">
					<label><b>Password</b></label><br /> <input type="password"
																placeholder="Password" name="psw" th:required="required"/>
				</div>

				<div class="container">
					<button type="submit" onclick="dataSave();">Login</button>
				</div>

				<div class="container">
					<a href='esqueci-senha.html'>Esqueci a Senha</a>
				</div>
			</div>
		</form>
	</div>
</section>

<footer>
	<div th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>
</footer>

</body>

</html>