<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Receita</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet"
		  th:href="@{css/bootstrap.css}"/>
	<link href="../static/css/geral.css" rel="stylesheet" media="all"
		  th:href="@{css/geral.css}"/>

	<script type="text/javascript" src="js/inicio.js"></script>

</head>

<body>
<header>
	<div th:replace="fragments/header :: header">
		<p>header</p>
	</div>
</header>

<section>
	<div class="container-fluid text-center">
		<div class="row content">
			<div class="col-sm-10 text-left">
				<h1>Bem vindo</h1>
				<p></p>
				<hr/>
				<h3>Faça receitas com ingredientes que você possui em sua casa</h3>
				<p>Digite os ingredientes separados por ponto e virgula ;</p>

				<form method="post" action="resultado.html">
					<div>
						<input id="input-pesquisa" type="text" name="ingredientes"
							   placeholder="Ingredientes " th:required="required" />
						<button type="submit" id="btn-pesquisa">Buscar</button>
						<br />
					</div>
				</form>
			</div>
		</div>
		<br/>
		<div class="texto-simples container">
			<div class="box-imagem">
				<h2>Bolo de Cenoura</h2><br/>
				<figure><img class="foto" src="img/receita-teste.png" alt="Receita"/></figure>
				<h3>Ingredientes</h3><br/>
				<h3>Modo de preparo</h3><br/>

			</div>
		</div>
		<br />
	</div>
</section>

<footer>
	<div th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>
</footer>

</body>
</html>