<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Resultado</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet"
		  th:href="@{css/bootstrap.css}"/>
	<link href="../static/css/geral.css" rel="stylesheet" media="all"
		  th:href="@{css/geral.css}"/>

	<script type="text/javascript" src="js/inicio.js"></script>

</head>

<body>
<header>
	<div th:replace="fragments/header :: header">
		<p>header</p>
	</div>
</header>

<section>
	<div class="container-fluid text-center">
		<div class="container-fluid text-center">
			<div class="row content">
				<div class="col-sm-10 text-left">
					<h1>Bem vindo</h1>
					<p></p>
					<hr/>
					<h3>Faça receitas com ingredientes que você possui em sua casa</h3>
					<p>Digite os ingredientes separados por ponto e virgula ;</p>

					<form method="post" action="resultado.html">
						<div>
							<input id="input-pesquisa" type="text" name="ingredientes"
								   placeholder="Ingredientes " th:required="required" />
							<button type="submit" id="btn-pesquisa">Buscar</button>
							<br />
						</div>
					</form>
				</div>
			</div>

			<div class="texto-simples container">
				<div class="box-imagem">
					<h3>Resultado</h3>
					<a href="receita.html"><figure><img alt="Imagem" class="foto" src="img/receita-teste.png"/></figure></a>
				</div>
			</div>
		</div>
	</div>

	<br/>
	<div class="texto-simples container">
		<div class="box-imagem">
			<h2>Mais Acessadas</h2>
			<a href="receita.html">
				<img class="foto" src="img/receita-teste.png" alt="Mais acessadas"/>
			</a>
		</div>
	</div>
	<br/>
</section>

<footer>
	<div th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>
</footer>

</body>
</html>