<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Sobre nós</title>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href="../static/css/bootstrap.css" rel="stylesheet"
		  th:href="@{css/bootstrap.css}"/>
	<link href="../static/css/geral.css" rel="stylesheet" media="all"
		  th:href="@{css/geral.css}"/>

	<script type="text/javascript" src="js/inicio.js"></script>

</head>

<body>
<header>
	<div th:replace="fragments/header :: header">
		<p>header</p>
	</div>
</header>

<section>
	<div class="container-fluid">
		<h1>Nossa História</h1>
		<div class="texto-simples container">
			<p>Nós, do culinária para solteiros agradecemos a sua visita. O
				nosso site trá a você simplicidade e rapidez na busca pelas suas
				receitas. A ideia surgiu por necessidades próprias, morando sozinho
				durante a faculdade e com acesso limitado a supermercados, feiras,
				e com o RU fechado aos finais de semana, nos restava apelar para
				nossos dotes culinários. Como todo bom universitário, só tinhamos
				uma opção rápida e barata: O Famoso MIOJÃO!!!</p>
			<p>Com essa necessidade que surgiu o site, você poderá preparar
				receitas com os ingredientes que possui disponíveis em casa.</p>
			<p>Opções com somente eles e nada mais!</p>
		</div>
	</div>
</section>

<footer>
	<div th:replace="fragments/footer :: footer">
		<p>footer</p>
	</div>
</footer>

</body>
</html>